burlap.algorithm=DeepQLearning
burlap.qlearning.qinit=0.1
burlap.qlearning.lr=0.25
burlap.qlearning.gamma=0.59
burlap.qlearning.epsilonval=0.5
burlap.qlearning.epsilonmin=0.1
burlap.qlearning.decayedepsilonstep=0.95
#burlap.qlearning.out_qtable=test/resources/output/qtable.yaml
burlap.num_of_episodes=20
burlap.max_update_cycles=150
burlap.network.hidden_size=64