labrecruits.level_name=level_medium
labrecruits.level_folder=src/test/resources/levels/
labrecruits.execution_folder=/storage/SE/rlbt/
labrecruits.agent_id=agent1
labrecruits.use_graphics=false
labrecruits.testingsession=false
labrecruits.memory_clean_interval_action=2
labrecruits.exploreEventOn=true
labrecruits.actionOnlySwitch=true
labrecruits.max_ticks_per_action=100
labrecruits.max_actions_per_episode=150
labrecruits.target_entity_name=button3
labrecruits.target_entity_type=Switch
labrecruits.target_entity_property_name=isOn
labrecruits.target_entity_property_value=true
labrecruits.search_mode=CoverageOriented
labrecruits.functionalCoverage=true
labrecruits.rewardtype=CuriousityDriven